* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Monaco", Monospace;
}

body {
    background-color: #c9d6ff;
    background: linear-gradient(to left, #000000, #403744);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#sis-title {
    margin-top: -30px;
    font-size: 3rem;
    color: white;
    margin-bottom: 20px;
}

.container {
    background: white;
    width: 400px;
    padding: 3rem;
    border-radius: 30px;
    box-shadow: 0 20px 35px rgba(0, 0, 1, 0.9);
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.panel h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.indexform {
    display: flex;
    flex-direction: column;
}

.indexform input {
    width: 100%;
    padding: 0.8rem 0.8rem 0.3rem 1.5rem;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 1px solid #757575;
    background-color: transparent;
    color: inherit;
    font-size: 15px;
}

.indexform input:focus {
    border-bottom: 2px solid hsl(327, 90%, 28%);
    outline: none;
}

.indexform input::placeholder {
    color: #757575;
    font-size: 0.9rem;
}

.input-group {
    position: relative;
    margin-bottom: 1rem;
}

.input-group i {
    position: absolute;
    left: 5px;
    top: 41%;
    transform: translateY(-50%);
    color: black;
    font-size: 1rem;
}

button {
    padding: 10px;
    border-radius: 30px;
    border: none;
    background: rgb(197, 137, 247);
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.9s;
}

button:hover {
    background: #07001f;
}

.error {
    color: red;
    font-size: 0.9rem;
    margin-top: 1rem;
    text-align: center;
}